{% extends 'layout.html' %}

{% block content %}
<h1>Profili</h1>
<form method="post" action="/auth/profileupdate">
<table class="table">
    <tr>
        <td>Emri dhe mbiemri</td>
        <td>{{ user.full_name }}</td>
    </tr>
    <tr>
        <td>Email adresa</td>
        <td>{{ user.email }}</td>
    </tr>

    <tr>
        <td>Data e regjistrimit</td>
        <td>{{ user.registration_date |date("d.m.Y") }}</td>
    </tr>

    <tr>
        <td>Roli</td>
        <td>{{ user.role }}</td>
    </tr>
    <tr>
        <td>Fjalekalimi ekzistues:</td>
        <td><input type="password" name="password" class="form-control"></td>
    </tr>

    <tr>
        <td>Fjalekalimi i ri:</td>
        <td><input type="password" name="password1" class="form-control"></td>
    </tr>
    <tr>
        <td>Perserite fjalekalimin:</td>
        <td><input type="password" name="password2" class="form-control"></td>
    </tr>

    <tr>
        <td></td>
        <td><input type="submit" value="RUAJI NDRYSHIMET" class="btn btn-primary"></td>
    </tr>
</table>
</form>
{% endblock %}